
<form method="post" action="/new">
  Name:
  <input type="text" name="name"><br>
  Breed:
  <input type="text" name="breed">
  Age:
  <input type="text" name="age">
  <br>
  <input type="submit" value="Submit">
</form>
